/* ------------------ FONTS ------------------*/
@font-face {
  font-family: "Minecraft";
  src: url("/minecraft.ttf") format("truetype");
}

@font-face {
  font-family: "Minecraft Title";
  src: url("/minecraft-titles.ttf") format("truetype");
}

body,
textarea,
button {
  font-family: "Minecraft", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Minecraft Title", sans-serif;
}

/* ------------------ GENERAL ------------------*/
body {
  background-color: #1a1a1a;
  color: #f0f0f0;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

html {
  overflow-y: auto;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

button {
  padding: 10px 20px;
  background-color: #e67e22;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #d35400;
  transform: scale(1.05);
}

/* ------------------ HEADER ------------------*/
header {
  background-color: #1a1a1a;
  color: #ffffff;
}

.centered-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.menu-container {
  position: fixed;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  max-width: 100%;
  padding: 12px;
  z-index: 999;
}

.menu {
  display: flex;
  padding: 8px;
  backdrop-filter: blur(10px);
  border-radius: 999px;
  border: 1px solid rgba(39, 39, 39, 0.5);
  background: rgba(39, 39, 39, 0.75);
}

.menu-item {
  padding: 8px;
  font-size: 0.875rem;
  color: #fff;
}

.menu-item a {
  color: #fff;
  text-decoration: none;
}

.menu-item a:hover {
  color: #ff8c42;
}

.logo-container {
  width: 100%;
  text-align: left;
  margin-bottom: 16px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo a {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo a:hover {
  color: #ff8c42;
}

.logo-image {
  height: 2em;
  margin-right: 8px;
}

/* ------------------ MAIN ------------------*/
main {
  padding: 1rem;
}

/* ------------------ CHATBOX ------------------*/

/* ------------------ FOOTER ------------------*/
footer {
  text-align: center;
  padding: 0.1rem;
  background-color: #1e1e1e;
  color: #ccc;
  font-size: 0.9rem;
  border-top: 1px solid #333;
  width: 100%;
  margin-top: auto;
}
