<footer>
  <p>&copy; 2025 Broslunas Chat. Todos los derechos reservados.</p>
</footer>
<style>
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow: hidden; /* Hide scrollbars */
  }
  html {
    overflow-y: auto; /* Enable vertical scrolling only when necessary */
  }
  footer {
    margin-top: auto;
  }
</style>
