<footer style="text-align: center; padding: 0.1rem; background-color: #1e1e1e; color: #ccc; font-size: 0.9rem; border-top: 1px solid #333; position: fixed; bottom: 0; width: 100%;">
  <p>&copy; 2025 Broslunas Chat. Todos los derechos reservados.</p>
</footer>
