---
import { parse } from 'cookie';

const cookies = parse(Astro.request.headers.get('cookie') || '');
const isLoggedIn = cookies['loggedIn'] === 'true';
const isAdmin = cookies['isAdmin'] === 'true'; // New admin check
const isHomePage = Astro.url.pathname === '/';

const logo = 'https://cdn.broslunas.com/favicon.png';

const menu = [
	{
		link: '/login/',
		label: 'Login',
		hidden: isLoggedIn,
	},
	{
		link: '/register/',
		label: 'Registro',
		hidden: isLoggedIn,
	},
	{
		link: '/stats/',
		label: 'Estadísticas',
	},
	{
		link: '/admin/',
		label: 'Admin',
		hidden: !isAdmin, // Admin link visibility
	},
];
---

<header>
	<div class='container'>
		{isHomePage ? (
			<nav class='nav'>
				<div class='logo-container'>
					<h2 class='logo'>
						<a href='/'>
							<img src={logo} alt='Broslunas Logo' class='logo-image' />
							Broslunas Chat
						</a>
					</h2>
				</div>
			</nav>
		) : (
			<div class='centered-title'>
				<h2 class='logo'>
					<a href="/">
						<img src={logo} alt='Broslunas Logo' class='logo-image' />
						Broslunas Chat
					</a>
				</h2>
			</div>
		)}
		{isHomePage && (
			<div class='menu-container'>
				<div class='menu'>
					{menu
						.filter((item) => !item.hidden)
						.map((item) => (
							<div class='menu-item'>
								<a href={item.link}>{item.label}</a>
							</div>
						))}
				</div>
			</div>
		)}
	</div>
</header>
